<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>研修生一覧</title>
</header>

<head>
    <script type="text/javascript" th:src="@{/javascript/delete.js}"></script>
</head>

<body>
    <div id="overflow"></div>
    <div class="mx-auto h1" style="text-align:center; margin-top:20px;margin-bottom:20px;">
        研修生一覧
    </div>
    <div style="text-align:right">
        <a class="btn btn-primary rounded-pill btn-lg" href="/create">+</a>
    </div>
    <table class="table" style="margin-top:20px; margin-bottom:20px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">名前</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">画像</th>
                <th scope="col">削除</th>
                <th scope="col">編集</th>
            </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.mailAddress}"></td>
            <td><img th:src="${user.profileImagePath}" th:alt="${user.name} + のプロフィール画像" width="30" height="30"></td>
            <td>
                <input type="image" alt="削除" th:src="@{\icon\trashbox.png}"
                    th:onClick="|check('__${user.id}__','__${user.name}__','__${user.mailAddress}__')|" />
            </td>
            <td>
                <form method="post" action="/update">
                    <input type="image" alt="編集" th:src="@{\icon\pencil.png}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="userName" th:value="${user.name}">
                    <input type="hidden" name="mailAddress" th:value="${user.mailAddress}">
                    <input type="hidden" name="profileImage" th:value="${user.profileImagePath}">
                </form>
            </td>
        </tr>
    </table>
    <div style="text-align:center">
        <th:block th:if="${page} == 1">
            <a class="btn btn-secondary disabled" th:href="@{''(page=${page}-1)}">前</a>
        </th:block>
        <th:block th:unless="${page} == 1">
            <a class="btn btn-secondary" th:href="@{''(page=${page}-1)}">前</a>
        </th:block>
        <!-- 1~6ページの時 -->
        <th:block th:if="1 le ${page} and ${page} le 6">
            <th:block th:each="i : ${#numbers.sequence(1,page+4)}">
                <th:block th:if="${page} == ${i}">
                    <a class="btn btn-warning disabled" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
                <th:block th:unless="${page} == ${i}">
                    <a class="btn btn-secondary" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
            </th:block>
            <a class="btn btn-secondary disabled">...</a>
            <a class="btn btn-secondary" th:href="@{''(page=${maxPage})}" th:text="${maxPage}"></a>
        </th:block>
        <!-- 7~maxPege-6の時 -->
        <th:block th:if="7 le ${page} and ${page} le ${maxPage}-6">
            <a class="btn btn-secondary" th:href="@{''(page=1)}" th:text="${1}"></a>
            <a class="btn btn-secondary disabled">...</a>
            <th:block th:each="i : ${#numbers.sequence(page-4,page+4)}">
                <th:block th:if="${page} == ${i}">
                    <a class="btn btn-warning disabled" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
                <th:block th:unless="${page} == ${i}">
                    <a class="btn btn-secondary" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
            </th:block>
            <a class="btn btn-secondary disabled">...</a>
            <a class="btn btn-secondary" th:href="@{''(page=${maxPage})}" th:text="${maxPage}"></a>
        </th:block>
        <!-- maxPege-6~maxPageの時 -->
        <th:block th:if="${maxPage}-5 le ${page} and ${page} le ${maxPage}">
            <a class="btn btn-secondary" th:href="@{''(page=1)}" th:text="${1}"></a>
            <a class="btn btn-secondary disabled">...</a>
            <th:block th:each="i : ${#numbers.sequence(page-4,maxPage)}">
                <th:block th:if="${page} == ${i}">
                    <a class="btn btn-warning disabled" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
                <th:block th:unless="${page} == ${i}">
                    <a class="btn btn-secondary" th:href="@{''(page=${i})}" th:text="${i}"></a>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:if="${page} == ${maxPage}">
            <a class="btn btn-secondary disabled" th:href="@{''(page=${page}+1)}">次</a>
        </th:block>
        <th:block th:unless="${page} == ${maxPage}">
            <a class="btn btn-secondary" th:href="@{''(page=${page}+1)}">次</a>
        </th:block>
    </div>
</body>

</html>